a{
    text-decoration: none;
    color: black;
}

a:hover{
  text-decoration: underline;
  text-transform: uppercase;
  color: red;  
}
ol{
    border: 2px;
    width: 250px;
    padding: 5px;
    border-style: solid;
}

li{
    padding: 3px;
    padding-left: 34px;
    margin-bottom: 5px;
    list-style-position: inside;
}
 /*kako postaviti sve margine osim zadnje stavke na 5px*/
li:last-child{
    margin-bottom: 0px;
}

.en-GB{
    background-image: url(images/en-GB.png);
    background-repeat: no-repeat;
    background-color: rgba(0 ,255,0 ,.75);
    background-position: left 3px center;
    
    margin: 5px;
 
}

.de{
    background-image: url(images/de.png);
    background-repeat: no-repeat;
    background-color: rgba(255,0,0, .25);
    background-position: left 3px center;
    margin: 5px;
}
.es{
    background-image: url(images/es.png);
    background-repeat: no-repeat;
    background-color: rgba(0,0, 255, .50);
    background-position: left 3px center;
    margin: 5px;
}

