body{
    background-color: gray;
}
header{
    text-align: center;
    background-image: url(Zad3/dove.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100px 100px;
    background-color: rgb(130, 202, 21);
    margin: 0px;
}

#headerTitle{
    font-style: italic;
}

#myNav{
    background-color: green;
    color: black;
    height: 60px;
    padding: 5px;
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100% /*sad je do krja*/
    z-index :1;
    /*width: 96%*/
    position: relative;
}

#myNav ul li{
    display: inline-block; /*iskljucio je dekoraciju i stavio sve u isti red umjesto kao lista jedan po jedan*/
    width: 200px;           /*svi list itemi da su jednake sirine*/
    height: 30px;
    font-size: 20px;
    text-align: center;
    padding: 3px;
    margin: 0px;
}
main{
    background-color: green;
}
section, aside{
    background-color: rgb(130, 202, 21);
    text-align: center;
}
footer{
    background-color: rgb(130,202,21);
}