body {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
  }
  
  /* Selektori koji se trebaju spariti s pravilima */
   
  /* Pravila koja se moraju spariti sa selektorima */
  
  .card  {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
  }
  
  .card header {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
  }
  
  .card footer{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
  }
  
  .card article img{
    max-height: 100%;
    float: right;
  }

  .card header,footer{
      height: 3em; /*30px*/
      padding: 1em; /*10px*/
      /*prebaciti u em jedinicu ->(30px visina sadržaja s ispunjenjem sa svih strana od 10px).*/
  }

.class h2,p{
    margin: 0px;
}

.card article{
    height: 12em;  /*120px*/
    background-color: rgba(0,0,0,.5);
}

.card h2{
    font-size: 2em; /*20px*/
    line-height: 0em; /*5px? ne bude u sredini*/
 }
.card footer p{
    line-height: 2em; 
    font-size: 1.5em; /*15 px*/
}

.card article p{
  color: white;
  padding-top: 1em; /*10 px*/
  padding-left: 1em; /*10 px*/
}
.top {
    position: absolute;
    left: 45em;
    z-index: 2;
  }
  
  .down {
    position: absolute;
    top: 10em;
    left: 70em;
    /*z-index: 6;  */
  }


